<h1>YOUR {{ title | uppercase }}!</h1>

<mat-grid-list cols="3" rowHeight="1:1">
  <ng-container *ngFor="let topic of topics">
    <mat-grid-tile>
      <a routerLink="courses/{{topic.id}}">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ topic.name }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image src="{{ imgUrl + topic.name }}">

        <mat-card-content>
          <p>{{ topic.description }}</p>
        </mat-card-content>
      </mat-card>
      </a>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<div class="buttons-container">
  <button mat-raised-button color="primary" (click)="openCourseDialog()">Add course</button>
  <button mat-raised-button color="primary" (click)="openTopicDialog()">Add topic</button>
</div>
